.howTomeasure {
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .measure-gif {
        width: 300px;
        margin-bottom: 30px;
    }
    h1 {
        font-size: 36px;
    }

    .measurements {
        display: flex;
        text-align: center;
        > * {
            display: flex;
            flex-direction: column;
            width: 400px;
            margin: 0 15px;
        }
    }
}

.child p{
    margin-bottom: 3em;
}

.measurements--text {
    font-size: 28px;
    img {
        width:30px;
        margin-left: 10px;
    }
}