* {
  padding: 0;
  margin: 0;
}
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400|Roboto.');

$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

@import 'variables';
@import 'mixins';
@import 'base';
@import 'utils';
@import 'grid';

@import 'components/_Header';
@import 'components/_Calculate';
@import 'components/_Condoms';
@import 'components/_Intro';
@import 'components/_Navigation';
@import 'components/_Logo';
@import 'components/_HowToMeasure';

.App {
  padding: 10px;
}
html {
  height: 100%;
}

.calculate {
  margin: 0 auto;
}

.introText {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 56px;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  padding-top: 70px;
}
.introTextSecond {
  @extend .introText;
  padding-top: 0.5em;
}
.subText {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculate-cta {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background: purple;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Open-sans', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 30px;
}

@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Lato');

$background: linear-gradient(to bottom, #405166 0%, #656f6f 100%);
$purple: #bd07f0;
$lightPurple: #d15bf1;
// $yellow: #f1c83c;
$shadow: #533d4a;

html {
  height: 100%;
}

body {
  font-family: 'Fjalla One', sans-serif;
  //   background: #ec008c;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  max-width: 225px;
}

.introBtn {
  // font-family: 'Lato', sans-serif;
  //     margin-top:30px;
  //   text-transform: uppercase;
  //   opacity: 0;
  //   visibility: hidden;
  //   cursor: pointer;
  //   color: $purple;
  //   background: $purple;
  //   border-radius: 50px;
  //   padding: 15px 10px;
}

.measure {
  width: 300px;
  animation: float 3s ease-in-out infinite;
  // box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  margin-top: 30px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    padding: 0 5px;
  }
}
.measure-container {
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 2s infinite;
}
@keyframes float {
  0% {
    // box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    // box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-10px);
  }
  100% {
    // box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.introHeading {
  color: #fff;
  text-transform: uppercase;
  font-size: 42px;
  margin: 0;
  line-height: 47px;
  letter-spacing: 2px;
}

.title {
  transform: translateX(-50%) rotate(-10deg);
  display: block;
  float: left;
  left: 50%;
  position: relative;

  span {
    transform: skew(-10deg);
    display: block;
    float: left;
    text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px,
      $shadow 4px 4px, $shadow 5px 5px, $shadow 6px 6px;
    min-width: 10px;
    min-height: 10px;
    position: relative;
    margin-bottom: 10px;
  }
}

.title {
  &:nth-child(1) {
    color: #d380ea;
  }
  &:nth-child(2) {
    color: #d15bf1;
  }
  &:nth-child(3) {
    color: #d380ea;
  }
}

@media (min-width: 0) and (max-width: 450px) {
  .ant-popup-open {
    display: none;
  }

  .ant-popover-inner-content {
    display: none;
  }

  .youSearched {
    position: absolute;
    top: 40px;
    font-size: 16px;
  }
  .measureindex {
    margin: 0;
  }
  .emoji {
    margin-bottom: 10px;
  }
  .numberindex {
    margin-bottom: 10px;
  }
  .howTomeasure > h1 {
    margin-bottom: 0;
  }
  img.measure-gif {
    height: 180px !important;
    margin-bottom: 10px !important;
    width: 260px !important;
  }
  .measurements--text {
    margin-bottom: 10px;
  }
  .spinner {
    position: absolute;
    top: 50%;
    right: 0;
    left: calc(50% - 20px);
  }
  .notFound {
    text-align: center;
    width: 70%;
    padding-top: 60px;
    h2 {
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
    }
  }

  .introText {
    font-size: 42px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .measurements {
    flex-direction: column;
    .child {
      width: 300px;
      p {
        margin-bottom: 10px;
      }
    }
  }
  .howTomeasure {
    margin-top: 3vh;
  }

  .Condoms-container {
    margin-top: 80px;
  }
}

.modalWidth {
  width: 300px;
}

.socials {
  position: fixed !important;
  bottom: 0;
  right: 0;
  padding: 10px;
  > a > img {
    width: 20px;
    margin-left: 5px;
  }
}

.howtospan {
  position: absolute;
  top: -20px;
  &:hover {
    cursor: pointer;
  }
}
